
body {
  margin: 0;
  background-image: url("/images/BrowserIcon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card {
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}
h2 {
  font-family: "MedievalSharp", serif;
  font-size: 28px;
  color: black;        
  text-shadow:  
    -0.375px -0.75px rgb(222, 194, 35), 
    -0.125px -0.25px rgb(222, 35, 35), 
    -0.25px -0.5px rgb(222, 35, 35),
    0.125px 0.25px rgb(222, 194, 35), 
    0.25px 0.5px rgb(222, 194, 35), 
    0.375px 0.75px rgb(222, 35, 35), 
    0.5px 1px rgb(222, 35, 35), 
    0.625px 1.25px rgb(222, 194, 35), 
    0.75px 1.5px rgb(222, 194, 35);
  text-align: center;
  margin: 20px 0;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  padding: 10px;
  margin-bottom: 5px;
  /* margin-top: 5px; */
  border: 4px inset rgb(223, 223, 223);
  box-shadow: inset 0 0 6px 1px rgba(0, 0, 0, 0.466);
  outline: 1px solid black;
  background-color: rgb(189, 214, 228);
  border-radius: 5px;
  box-sizing: border-box;
}
button {
  width: auto;
  font-family: "MedievalSharp", serif;width: auto;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-top: 4px solid rgb(189, 209, 230);
  border-bottom: 4px solid rgb(121, 141, 160);
  border-right: 4px solid rgb(149, 172, 190);
  border-left: 4px solid rgb(156, 175, 194);
  box-shadow: inset 0 0 6px 1px rgba(145, 20, 20, 0.466);
  outline: 1px solid black;
  background: linear-gradient(to right, #ff000088, #a10000, #8b0000, #a10000, #ff000088);
  box-sizing: border-box;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 0.125px 0.25px black, 0.25px 0.5px black, 0.375px 0.75px black, 0.5px 1px black, 0.625px 1.25px black, 0.75px 1.5px black;
  box-shadow: 0 0 15px 1px aliceblue;
}
button:hover {
  color: greenyellow;
}

p {
  background-color: rgba(240, 248, 255, 0.521);
  font-family: "MedievalSharp", serif;
  font-size: 16px;
  color: black;
  text-align: center;
  margin-top: 10px;
}
a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}