#product-container {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
  gap: 20px; /* Add spacing between items */
  justify-content: center; /* Center the grid horizontally */
  align-items: start; /* Align items to the top */
  padding: 20px; /* Add padding for better spacing */
  margin-top: 20px;
  min-height: 100vh; /* Ensure it takes up the full height of the viewport */
  max-width: 100%; /* Ensure the product grid fits within the viewport */
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

.product-item h3 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.product-item p {
  margin: 5px 0;
  color: #555;
}

.product-item .add-to-cart {
  width: auto;
  font-family: "MedievalSharp", serif;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-top: 4px solid rgb(189, 209, 230);
  border-bottom: 4px solid rgb(121, 141, 160);
  border-right: 4px solid rgb(149, 172, 190);
  border-left: 4px solid rgb(156, 175, 194);
  box-shadow: inset 0 0 6px 1px rgba(145, 20, 20, 0.466);
  outline: 1px solid black;
  background: linear-gradient(to right, #570505, #cc0000, #b30000, #cc0000, #570505); 
  box-sizing: border-box;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 0.125px 0.25px black, 0.25px 0.5px black, 0.375px 0.75px black, 0.5px 1px black, 0.625px 1.25px black, 0.75px 1.5px black;
  box-shadow: 0 0 15px 1px aliceblue;
  cursor: pointer;
}

.product-item .add-to-cart:hover {
  background-color: #0056b3;
}

.product-item:hover {
  transform: translateY(-5px);
}
