.CheckoutTag
{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

.Statement
{
    font-size: 16px;
    color: #333;
    text-align: center;
}

.PaymentMethod
{
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#paypal-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

h2
{
    font-size: 24px;
    color: #333;
    text-align: center;
}

.ReturnCart
{
    color:#007bff;
    font-size: 16px;
    align-items: center;
    justify-content: center;  
    text-align: center;
}

.ReturnCart:hover
{
    color: #0056b3;
    font-size: 18px;
    text-decoration: underline;
}

#payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#stripe-checkout-button
{
  display: inline-block;
  margin: 10px auto;
  width: auto;
  font-family: "MedievalSharp", serif;width: auto;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-top: 4px solid rgb(189, 209, 230);
  border-bottom: 4px solid rgb(121, 141, 160);
  border-right: 4px solid rgb(149, 172, 190);
  border-left: 4px solid rgb(156, 175, 194);
  /* box-shadow: inset 0 0 6px 1px rgba(145, 20, 20, 0.466); */
  outline: 1px solid black;
  background: linear-gradient(to right, #ff000088, #a10000, #8b0000, #a10000, #ff000088);
  /* border-radius: 1px; */
  box-sizing: border-box;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  text-shadow: 0.125px 0.25px black, 0.25px 0.5px black, 0.375px 0.75px black, 0.5px 1px black, 0.625px 1.25px black, 0.75px 1.5px black;
  box-shadow: 0 0 15px 1px aliceblue;
  align-items: center;
  justify-content: center;
}